<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reja</title>
    <link 
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css "
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp@DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
</head>
<body style="background-color: #b8bbd1;">
    <div class="container">
        <h1 class="display-4 text-center py-1">REJA VA MAQSADLAR</h1>
    
        <div class="jumbotron p-3 shadow-sm">
            <form id="create-form" action="/create-item" method="POST">
                <div class="d-flex align-items-center">
                    <input 
                        id="create-field"
                        name="reja"
                        autofocus
                        autocomplete="off"
                        class="form-control mr-3"
                        type="text" 
                        style="flex: 1"/>
                    <button class="botn btn-primary" style="border-radius:20px">Yangi reja qoshish  </button>
                </div>
            </form>
        </div>


        <ul id="item-list" class="list-group pb-5">
            <% items.map(item=> { %>
                <li style="margin-bottom: 4px;"
                    class="list-group-item list-group-item-info align-items-center d-flex justify-content-between">
                    <span class="item-text">
                        <%= item.plan %>
                    </span>
                    <div>
                        <button data-id="<%= item.id %>" class="edit-me btn btn-secondary"
                            style="border-radius: 4px; margin-top: 10px; padding: 2px 10px 2px 10px">Edit</button>
                        <button data-id="<%= item.id %>" class="delete-me btn btn-danger"
                            style="border-radius: 4px; margin-top: 10px; padding: 2px 10px 2px 10px">
                            delete
                        </button>
                    </div>
                </li>
                <% }); %>
        </ul>

        </ul>
    </div>
</body>
</html>